<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@1;300;600;800&family=Sofia+Sans+Semi+Condensed:wght@200&display=swap" rel="stylesheet">
  </head>

<div id="addSauceFormContainer">
    <div id="headerWrapperAddSauceDetail">
<h2>Give us the saucy details:</h2>
</div>
<form id="sauceInfo" action="/sauces/add-details" method="POST">
    
    <label>Name: <input type="text" name="name" value="<%= addedSauce %>" style="border:none" readonly/></label><br/>
    <label>Manufacturer: <input type="text" name="manufacturer" placeholder="Required"/></label><br/>
    <label>Image URL: <input type="text" name="image" placeholder="Required"/></label><br/>
    <label>Ingredients: <input type="text" name="ingredients" placeholder="Required"/></label><br/>
    <label>Peppers: <input type="text" name="peppers" placeholder="Required"/></label><br/>
    <label >Description:<br/><textarea id="description" name="description" rows="4" cols="50" placeholder="Required"></textarea></label><br/>
    <label>Scoville: <input type="number" name="scoville"/></label><br/>
    <label>Country:<br/><select name="originCountry" placeholder="Required">
            <option value="unknown">Pick a country</option>
            <% 
            const countries = ["afghanistan", "albania", "algeria", "andorra", "angola", "antigua and barbuda", "argentina", "armenia", "australia", "austria", "azerbaijan", "bahamas", "bahrain", "bangladesh", "barbados", "belarus", "belgium", "belize", "benin", "bhutan", "bolivia", "bosnia and herzegovina", "botswana", "brazil", "brunei", "bulgaria", "burkina faso", "burundi", "côte d'ivoire", "cabo verde", "cambodia", "cameroon", "canada", "central african republic", "chad", "chile", "china", "colombia", "comoros", "congo (congo-brazzaville)", "costa rica", "croatia", "cuba", "cyprus", "czechia (czech republic)", "democratic republic of the congo", "denmark", "djibouti", "dominica", "dominican republic", "ecuador", "egypt", "el salvador", "equatorial guinea", "eritrea", "estonia", "eswatini (fmr. swaziland)", "ethiopia", "fiji", "finland", "france", "gabon", "gambia", "georgia", "germany", "ghana", "greece", "grenada", "guatemala", "guinea", "guinea-bissau", "guyana", "haiti", "holy see", "honduras", "hungary", "iceland", "india", "indonesia", "iran", "iraq", "ireland", "israel", "italy", "jamaica", "japan", "jordan", "kazakhstan", "kenya", "kiribati", "kuwait", "kyrgyzstan", "laos", "latvia", "lebanon", "lesotho", "liberia", "libya", "liechtenstein", "lithuania", "luxembourg", "madagascar", "malawi", "malaysia", "maldives", "mali", "malta", "marshall islands", "mauritania", "mauritius", "mexico", "micronesia", "moldova", "monaco", "mongolia", "montenegro", "morocco", "mozambique", "myanmar (formerly burma)", "namibia", "nauru", "nepal", "netherlands", "new zealand", "nicaragua", "niger", "nigeria", "north korea", "north macedonia", "norway", "oman", "pakistan", "palau", "palestine state", "panama", "papua new guinea", "paraguay", "peru", "philippines", "poland", "portugal", "qatar", "romania", "russia", "rwanda", "saint kitts and nevis", "saint lucia", "saint vincent and the grenadines", "samoa", "san marino", "sao tome and principe", "saudi arabia", "senegal", "serbia", "seychelles", "sierra leone", "singapore", "slovakia", "slovenia", "solomon islands", "somalia", "south africa", "south korea", "south sudan", "spain", "sri lanka", "sudan", "suriname", "sweden", "switzerland", "syria", "tajikistan", "tanzania", "thailand", "timor-leste", "togo", "tonga", "trinidad and tobago", "tunisia", "turkey", "turkmenistan", "tuvalu", "uganda", "ukraine", "united arab emirates", "united kingdom", "united states of america", "uruguay", "uzbekistan", "vanuatu", "venezuela", "vietnam", "yemen", "zambia", "zimbabwe"]

            countries.forEach(country => { %>

                    <option value="<%= country %>">
                        <%= country.toLowerCase()
                            .split(' ')
                            .map((s) => s.charAt(0).toUpperCase() + s.substring(1))
                            .join(' ')%></option> 

            <% }) %>
        </select></label><br/>

    <label>Link: <input type="text" name="link"/></label><br/>

  
    <button id="submitLogin" type="submit">Add sauce</button>

    <% if (typeof errorMessage !== 'undefined') { %>
    <p style="color: red"><%= errorMessage %></p>

    <% } %>

</form>
</div>



