<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@1;300;600;800&family=Sofia+Sans+Semi+Condensed:wght@200&display=swap" rel="stylesheet">
  </head>
</head>
<div id="loginWindow">
<img id="logo" src="/images/logo.png" alt="logo" />
<div id="homeLinks">
<a href="/auth/signup">SIGN UP</a>
<a href="/auth/login">LOG IN</a>
</div>
</div>

