@font-face {
  font-family: logo;
  src: url("/fonts/SnackerComicPersonalUseOnly-g3Z5.ttf");
}

#navWrapper {
  font-family: "Sofia Sans Condensed", sans-serif;
  height: 20px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 30px;
  margin-left: 70px;
}

a:hover {
  text-decoration-line: underline !important;
  text-decoration-thickness: 1.5px !important;
}

a:active {
  color: #04912e !important;
}

#navBar a {
  padding: 5px;
  color: #f94f04;
  font-size: 25px;
  text-decoration: none;
}

#navBar h1 {
  font-family: logo;
  font-size: 80px;
  color: #04912e;
  margin-left: 20px;
}

#navLogo {
  height: 100px;
  width: 100px;
  padding-bottom: 20px;
}

#homeLinks {
  display: flex;
  margin: auto;
}

#homeLinks a {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 70px;
  color: black;
  text-decoration: none !important;
  margin: 70px;
  margin-top: 0;
}

#homeLinks a:hover {
  color: #f94f04;
}

#homeLinks a:active {
  transform: translateY(2px);
  color: #f94f04 !important;
}

#errorMessage {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 30px !important;
  margin-bottom: 50px !important;
  margin-left: 50px !important;
}

#loginWindow {
  height: 700px;
  width: 650px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

#loginForm {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 30px;
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(230, 230, 230, 0.25);
  padding: 50px;
  margin: auto;
  border: #04912e;
  border-width: 1px;
  border-style: solid;
}

#loginForm input {
  height: 30px;
  width: 350px;
  padding: 10px;
  font-size: large;
}
#loginForm label {
  font-family: "Sofia Sans Condensed", sans-serif;
}

#submitLogin {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 25px;
  color: black;
  width: 120px;
  border: solid;
  padding: 10px;
  border-radius: 6px;
  border-color: black;
  border-width: 2px;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none !important;
}

#submitLogin:hover {
  color: white;
  background-color: #f94f04;
  border-color: white;
}

#submitLogin:active {
  transform: translateY(2.5px);
}

#logo {
  margin-left: 65px;
  margin-top: 120px;
  margin-bottom: 10px;
  height: 300px;
  width: 300px;
}

label,
input {
  display: block;
}

label {
  padding-left: 20px;
  margin-bottom: 20px;
}

#welcomeWrapper {
  margin-top: 150px;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#sauceDisplay {
  font-family: "Sofia Sans Condensed", sans-serif;
  margin-top: 100px;
}

#cardBody {
  font-family: "Sofia Sans Condensed", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#cardBodyHottest {
  font-family: "Sofia Sans Condensed", sans-serif;
  padding-top: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cardBodyHottest span {
  font-size: 17px;
}

#sauceImage {
  margin-top: 15px;
  min-height: 240px;
  max-height: 240px;
  margin-bottom: 10px;
}

#addContainer {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: x-large;
  margin-top: 150px;
  margin-left: 40px;
  border: #f94f04;
  border-style: none;
  border-width: 2px;
  padding: 50px;
}

#addSauceSearchForm input {
  width: 355px;
}

#addSauceSearchForm label {
  padding-top: 20px;
}

#headerWrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}

#addSauceSearchForm button {
  margin-left: 100px;
  margin-top: 50px;
}

#addSauceDetailsForm {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: larger;
  width: 50px;
  height: 40px;
  flex-direction: column;
}

#addSauceDetailsForm input {
  width: 500px;
}

#addSauceFormContainer {
  margin-top: 160px;
  margin-left: 90px;
}

#sideMenuButton {
  position: relative;
  left: 1480px;
  opacity: 0.8;
  width: 35px;
  height: 5px;
  margin: 6px 0;
}

#sideMenuContent {
  margin-top: 30px;
  font-family: "Sofia Sans Condensed", sans-serif ;
  font-size: x-large;
  display: flex;
  flex-direction: column;
}

#sideMenuContent a {
  padding-top: 60px;
  padding-left: 20px;
font-size: 1.5em;
text-decoration: none;
color: #f94f04
}

#headerWrapperAddSauceDetail {
  font-family: "Sofia Sans Condensed", sans-serif ;
  margin-bottom: 30px;
  color: #f94f04;
}

#reviewsHeader {
  font-family: "Sofia Sans Condensed", sans-serif;
  border: #f94f04;
  border-style: none;
  border-width: 2px;
  margin-left: 50px;
  margin-top: 40px;
}

#detailSauceIMG {
  margin-top: 120px;
  margin-bottom: 30px;
  max-height: 450px;
  max-width: 300px;
  margin-left: 70px;
}

#sauceInfo {
padding: 5px;
  margin-left: 100px;
  max-width: 90vw;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 500;
  font-size: larger;
}


#sauceInfo a{
  padding: 5px;
  color: #f94f04;
  text-decoration: none;
}

  #sauceInfo a:hover {
    text-decoration-line: underline !important;
    text-decoration-thickness: 1.5px !important;
  }
  
  #sauceInfo a:active {
    color: #04912e !important;
  }


  #sauceTitle {
    margin-bottom: 30px;
    margin-left: -10px;
  }

  #footerText {
    color: white;
    text-decoration: none !important;
  }

  #socialText {
    font-family: "Sofia Sans Condensed", sans-serif !important;
    color: #f94f04;
    margin-bottom: -10px;
  }

  #icons {
    margin-bottom: -15px;
    color: #f94f04;
  }
  
  #footerContent {
    color: #f94f04;
    font-family: "Sofia Sans Condensed", sans-serif !important;
    font-size: 20px;
    text-decoration: none !important;
  }
  
  #footerContent a {
    text-decoration: none !important;
  }

  #addReviewForm {
    width: 500px;
    margin-left: 50px;
    margin-top: 200px;
    margin-bottom: 1000px;
    font-family: "Sofia Sans Condensed", sans-serif;
  font-size: larger;
  width: 50px;
  height: 40px;
  flex-direction: column;
}

#editAddedSauceForm {
  width: 500px;
  margin-left: 50px;
  margin-top: 170px;
  margin-bottom: 1000px;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: medium;
  width: 50px;
  height: 40px;

}

#deleteSauceInfo {
  margin-left: 60px;
}

#deleteSauceInfo a {
  padding: 5px;
  color: #f94f04;
  text-decoration: none;
}

#deleteSauceInfo a:hover {
  text-decoration-line: underline !important;
  text-decoration-thickness: 1.5px !important;
}

#deleteSauceInfo a:active {
  color: #04912e !important;
}

#deleteSauceForm {
  width: 800px;
  margin-left: 70px;
  margin-top: 200px;
  margin-bottom: 1000px;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 20px;
  width: 500px;
  height: 40px;
}

#deleteSauceIMG {
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 150px;
  max-height: 300px;
  margin-left: 50px;
}

#deleteSauceForm h2 {
  font-size: 30px !important;
  margin-top: -15px;
}

#deleteSauceFormButtons {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 19px;
  color: black;
  width: 175px;
  border: solid;
  padding: 10px;
  border-radius: 6px;
  border-color: black;
  border-width: 2px;
  margin-left: 30px;
  margin-bottom: 50px;
  margin-top: 30px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none !important;
}

#deleteSauceFormButtons:hover {
  color: white;
  background-color: #f94f04;
  border-color: white;
}

#deleteSauceFormButtons:active {
  transform: translateY(2.5px);
}

#sauceNameWrapper {
  font-size: 25px;
}

#sauceNameWrapper span {
  font-size: 35px;
}
#sauceNameWrapper input {
  color: #f94f04;
}

#description {
  width: 600px;
}

#description :focus,
textarea:focus {
  border: 2px solid #04912e !important;
  box-shadow: 0 0 1px #04912e !important;
  -moz-box-shadow: 0 0 1px #04912e !important;
  -webkit-box-shadow: 0 0 1px #04912e !important;
  outline: none !important;
}

#submitReviewButton {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 25px;
  color: black;
  width: 150px;
  border: solid;
  padding: 10px;
  border-radius: 6px;
  border-color: black;
  border-width: 2px;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none !important;
}

#submitReviewButton:hover {
  color: white;
  background-color: #f94f04;
  border-color: white;
}

#submitReviewButton:active {
  transform: translateY(2.5px);
}

#reviewsHeader {
  margin-bottom: 30px;
}

#editAddedSauceForm input {
  width: 350px
}
#sauceNameWrapper {
  font-size: 25px;
}

#sauceNameWrapper span {
  font-size: 35px;
}
#sauceNameWrapper input {
  color: #f94f04;
}

#description {
  width: 600px;
}

#description :focus, textarea:focus {
  border: 2px solid #04912e !important;
  box-shadow: 0 0 1px #04912e !important;
  -moz-box-shadow: 0 0 1px #04912e !important;
  -webkit-box-shadow: 0 0 1px #04912e !important;
  outline: none !important;
}

#submitReviewButton {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 25px;
  color: black;
  width: 150px;
  border: solid;
  padding: 10px;
  border-radius: 6px;
  border-color: black;
  border-width: 2px;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none !important;
}

#submitReviewButton:hover {
  color: white;
  background-color: #f94f04;
  border-color: white;
}

#submitReviewButton:active {
  transform: translateY(2.5px);
}

#reviewsHeader {
  margin-bottom: 30px;
}

#sauceDisplayDetails {
  font-family: "Sofia Sans Condensed", sans-serif;
  margin-top: 20px;
  margin-left: 40px;
}

#profileContainer {
  margin-top: 100px;
}

#buffer {
  margin-top: 20px;
  margin-bottom: 20px;
}

#usernameWrapperProfilePage {
  font-size: 40px;
  color: #f94f04 !important;
  margin-top: 20px;
  margin-bottom: 30px;
}

#sauceInfo span {
  font-size: 25px;
  margin-right: 10px;
}

#profileButton {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 20px;
  color: black;
  width: 200px;
  border: solid;
  padding: 10px;
  border-radius: 6px;
  border-color: black;
  border-width: 2px;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 30px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none !important;
}

#profileButton:hover {
  color: white;
  background-color: #04912e;
  border-color: white;
}

#profileButton:active {
  transform: translateY(2.5px);
}

#profileEditButton {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 20px;
  color: black;
  width: 160px;
  border: solid;
  padding: 10px;
  border-radius: 6px;
  border-color: black;
  border-width: 2px;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 30px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none !important;

}

#profileEditButton:hover {
  color: white;
  background-color: #04912e;
  border-color: white;
}

#profileEditButton:active {
  transform: translateY(2.5px);
}

#viewReviewButton {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 15px;
  color: black;
  width: 90px;
  height: 50px;
  border: solid;
  padding: 10px;
  border-radius: 6px;
  border-color: black;
  border-width: 2px;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none !important;
}

#viewReviewButton:hover {
  color: white;
  background-color: #04912e;
  border-color: white;
}

#viewReviewButton:active {
  transform: translateY(2.5px);
}



#profileEditInfo {
  width: 500px;
  margin-left: 150px;
  margin-top: 150px;
  margin-bottom: 1000px;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: larger;
  padding: 10px;
  width: 50px;
  height: 40px;
  flex-direction: column;
}

#profileEditInfo input {
  width: 300px;
  
}
#profileEditInfo:focus, input:focus {
  border: 2px solid #04912e !important;
  box-shadow: 0 0 1px #04912e !important;
  -moz-box-shadow: 0 0 1px #04912e !important;
  -webkit-box-shadow: 0 0 1px #04912e !important;
  outline: none !important;
}

#editProfileHeaderWrapper {
  font-family: "Sofia Sans Condensed", sans-serif;
  margin-top: 50px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  color: #f94f04;
}

#editProfileButton {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 25px;
  color: black;
  width: 150px;
  border: solid;
  padding: 10px;
  border-radius: 6px;
  border-color: black;
  border-width: 2px;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none !important;
}

#editProfileButton:hover {
  color: white;
  background-color: #f94f04;
  border-color: white;
}

#editProfileButton:active {
  transform: translateY(2.5px);
}

#profileButton {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 22px;
  color: black;
  width: 175px;
  border: solid;
  padding: 10px;
  border-radius: 6px;
  border-color: black;
  border-width: 2px;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none !important;
}

#profileButton:hover {
  color: white;
  background-color: #f94f04;
  border-color: white;
}

#profileButton:active {
  transform: translateY(2.5px);
}

#editDeleteButton {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 18px;
  color: black;
  width: 75px;
  border: solid;
  padding: 10px;
  border-radius: 6px;
  border-color: black;
  border-width: 2px;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none !important;
}

#editDeleteButton:hover {
  color: white;
  background-color: #04912e;
  border-color: white;
}

#editDeleteButton:active {
  transform: translateY(2.5px);
}

#viewReviewButton {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 18px;
  color: black;
  width: 105px;
  border: solid;
  padding: 10px;
  border-radius: 6px;
  border-color: black;
  border-width: 2px;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none !important;
}
#viewReviewButton:hover {
  color: white;
  background-color: #04912e;
  border-color: white;
}

#viewReviewButton:active {
  transform: translateY(2.5px);
}

#bioContent {
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 50px;
}

#bioContent b {
  color: #f94f04;
}

#rowContainer {
  display: flex;
  flex-direction: row;
}

#editSauceForm {
  margin-top: 150px;
  width: 800px;
  margin-left: 120px;
  margin-bottom: 1000px;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 20px;
  width: 500px;
}

#editSauceForm h1 {
  margin-bottom: 30px;
  color: #f94f04;
}
